name: 'Build'

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    name: 'Build'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'write'
    defaults:
      run:
        working-directory: '1.21.11-fabric/'

    steps:
      - uses: 'actions/checkout@v6'

      - uses: 'gradle/actions/wrapper-validation@v5'

      - uses: 'actions/setup-java@v5'
        with:
          java-version: '21'
          distribution: temurin
      
      - run: |
          chmod +x gradlew

      - run: |
          ./gradlew build

      - name: 'Upload release'
        uses: 'softprops/action-gh-release@v2'
        with:
          files: '1.21.11-fabric/build/libs/*'
        if: github.ref_type == 'tag'
